body {background: #9A7C5F;}
div.smallish-progress-wrapper {
	/* Don't change the following lines. */
	position: relative;
	border: 2px solid black;
	width: 500px;
	margin: 8px auto;
	}
	
div.smallish-progress-bar {
	/* Don't change the following lines. */
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	background-color: #8BB381;
	}
	
div.smallish-progress-text {
	/* Don't change the following lines. */
	text-align: center;
	position: relative;
	width: 500px;
	/* Add your customizations after this line. */
	}
	body {font-family: Arial, Helvetica, sans-serif;}
	ul {padding:0;margin:0;}
	li {padding: .25em 0;}
	a {color: #44687D;}
	a:hover {color: #333366}
	div {}
	
	p { display: block;}
	p a {font-size: 16px;}
	/* tooltip styling. by default the element to be styled is .tooltip  */
	.tooltip {
		display:none;
		background:transparent url(/img/tooltip.png);
		font-size:16px;
		text-align: center;
		height:18px;
		width:160px;
		padding:39px 25px 25px 25px;
		color:#fff;	
	}
	 
	/* style the trigger elements */
	#links img {
		border:0;
		cursor:pointer;
		margin:0 2px;
		vertical-align: middle;
	}
	
	/* CSS3 border radius for various elements. yea - CSS isn't perfect */
	.rounded, #sheet input, .error {
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
		-khtml-border-radius: 5px;
	}
	
	/* validation error message */
	.error {
		background-color:#E8FF6D;
		padding:4px;
		-webkit-box-shadow: #000 0 0 12px;
		-moz-box-shadow: #000 0 0 12px;
	}
	
	/* nested arrow inside error message. It's 100% CSS. No images. */
	.error em {
		border:10px solid;
		border-color:#E8FF6D transparent transparent;
		bottom:-17px;
		display:block;
		height:0;
		left:10px;
		position:absolute;
		width:0;
	}
	
	/* input field that caused validation error */
	.invalid {
		background-color:rgba(221, 233, 255, 0.898) !important;
	}
	
	label {
		font-weight: bold;
	}
	